########################################
# Web app (Next.js)
########################################

NEXT_PUBLIC_CONVEX_URL=""
NEXT_PUBLIC_CONVEX_SITE_URL=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

########################################
# Stripe (for payments)
########################################

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PRO_PRICE_ID=""
STRIPE_PRO_PRODUCT_ID=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

